{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="key">Registration key</label><br>
    <input name="key" id="key" required><br>
    <label for="username">Username</label><br>
    <input name="username" id="username" required><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="Register">
  </form>
{% endblock %}
