{%extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Details</h1>
</div>
<h1>{{question}} - {{number_of_votes}}</h1>
<input name='tags' placeholder='write some tags' value={{q_tags|join(', ')}}>
<!--<input name='tags' placeholder='write some tags' value='foo, bar,buzz,hej'>-->
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: {{labels|safe}},
          datasets: [{
            data: {{data|safe}},
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize: 1
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  <script data-name="basic">
      // vanilla component
      var input = document.querySelector('input[name=tags]'),
      //tagify = new Tagify( input );
      tagify = new Tagify(input, {
        whitelist : {{unused_tags|safe}},
        dropdown : {
            classname : "color-blue",
            enabled   : 2,
            maxItems  : 5
        }
    });
      
      // with settings passed
      //tagify = new Tagify( input, {
      //    duplicates: false,
      //    whitelist: ['foo', 'bar'],
      //    callbacks: {
      //        add : onAddTag // calls an imaginary "onAddTag" function when a tag is added
      //    }
      //});
      
      // listen to custom tags' events such as 'add' or 'remove' (see full list below).
      // listeners are chainable
      tagify.on('remove', onTagRemoved);
      tagify.on('add', onTagAdded);
      tagify.on('invalid', onInvaildTag);
      
      function onAddTag(e){
        console.log(e, e.detail);
      }
      
      function onTagRemoved(e){
          console.log(e, e.detail);
          // remove listener after first tag removal
          tagify.off('remove', onTagRemoved);
      }
      
      function onTagAdded(e){
        console.log(e, e.detail);
          // do whatever
      }
      
      function onInvaildTag(e){
          // e.detail ...
      }
      </script>
{% endblock %}
