{%extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>


<h2>Questions</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Question</th>
        <th>Votes</th>
      </tr>
    </thead>
    <tbody>
      <form method="post">
      {% for question in questions%}
      <tr>
        <td>{{question['text']}}</td>
        <td>{{question['votes']}}
          {% if g.user %}
            <input type="submit" value="{{question['id']}}" name="vote">
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </form>
    </tbody>
  </table>
</div>
{% endblock %}
